// @import '@/styles/utils/mixins';

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-shrink: 0;
}

.l-page {
    width: 100%;
    max-width: 182rem;
    height: 100%;
    min-height: 100vh;
    padding: 10.1rem 0 6rem 0;
    margin: 0 auto;
    background-color: #fff;
}

.l-inner {
    position: relative;
    width: 100%;
    max-width: 182rem;
    height: 100%;
    padding: 0 3rem;
    margin: 0 auto;
    transition: padding 0.3s;

    @include mobile {
        padding: 0 1.6rem;
    }

    .page-header {
        margin-bottom: 3.2rem;
    }

    .page-title {
        font-size: 6.4rem;
        font-weight: 600;
        position: relative;
        padding-bottom: 0.6rem;
        animation: fadeInUp 0.3s ease-out both;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;
            height: 0.2rem;
            background-color: $color-text-body;
            animation: drawLine 0.6s ease-out both;
            animation-delay: 0.4s;
        }
    }
}

.home-swiper {
    height: 100vh;

    .swiper-slide {
        overflow-y: auto;
    }
}
