footer {
    background-color: #252525;

    .footer-top {
        height: 7.2rem;
        border-bottom: 1px solid rgb(255 255 255 / 10%);

        > .l-inner {
            display: flex;
            justify-content: space-between;
        }

        .policy-btn {
            height: 100%;
            padding: 0 0.8rem;
            > span {
                font-size: 1.6rem;
                font-weight: 500;
                color: $color-gray-white;
            }
        }

        .top-btn {
            position: fixed;
            bottom: 2rem;
            right: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            background-color: #3c3c3c;
            border-radius: 9999px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            z-index: 1000;

            &::after {
                content: url('/assets/image/icon/chevron-up.svg');
                position: relative;
                top: -0.1rem;
                width: 2.4rem;
                height: 2.4rem;
                display: block;
            }
        }
    }

    .footer-bottom {
        padding: 2.4rem 0;

        > .l-inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            @include mobile {
                flex-direction: column;
                justify-content: center;
                gap: 1.6rem;

                > div {
                    width: 100%;
                    text-align: center;

                    &.rc {
                        .logo-wrap {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 14rem;
                            }
                        }
                    }
                }
            }

            > .rc {
                .logo-wrap {
                    img {
                        width: 20rem;
                    }
                }
            }

            > .lc {
                //
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                @include mobile {
                    gap: 1.2rem;
                }

                > div:not(.copyright) {
                    display: flex;
                    flex-wrap: wrap;

                    gap: 0.6rem;
                    > span {
                        &:nth-child(1) {
                            padding-right: 1rem;
                            border-right: 2px solid rgb(255 255 255 / 10%);
                        }

                        &:nth-child(2) {
                            padding-left: 0.4rem;
                        }
                    }

                    @include mobile {
                        justify-content: center;
                    }
                }

                .info {
                    > span {
                        font-size: 2rem;
                        font-weight: 500;
                        color: #ffffff;
                        text-wrap: nowrap;

                        @include tablet {
                            font-size: 1.8rem;
                        }

                        @include mobile {
                            font-size: 1.6rem;
                        }
                    }
                }

                .company,
                .owner {
                    > span {
                        font-size: 1.6rem;
                        font-weight: 400;
                        color: $color-gray-white;

                        @include mobile {
                            font-size: 1.4rem;
                        }
                    }
                }

                .copyright {
                    > span {
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: $color-gray-white;

                        @include mobile {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}
