/* 포트폴리오 썸네일 호버 효과 */
@import '@/styles/utils/mixins';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
    transition: all duration(0.3s);

    @include mobile {
      transform: scale(1);
    }
  }

  .thumbnail {
    position: relative;
    width: 100%;
    flex: 1; // 카드의 남은 공간을 모두 차지하도록 설정
    min-height: 0; // flex 아이템이 축소될 수 있도록 설정
    border-radius: 1rem;
    overflow: hidden;
    // transition: all 0.3s;

    @include mobile {
      border-radius: 0.8rem;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }

    &:hover {
      .title {
        opacity: 1;
        top: 50%;
      }

      img {
        transform: scale(1.1);

        @include mobile {
          transform: scale(1);
        }
      }

      &::after {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }

    .title {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 50%;
      width: 100%;
      height: 50%;
      padding-bottom: 28px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
      transform: translateX(-50%);

      transition: all 0.4s ease-in-out;

      @include tablet {
        padding-bottom: 20px;
      }

      @include mobile {
        padding-bottom: 16px;
      }

      > span {
        font-size: 1.8rem;
        font-weight: 400;
        color: #fff;
        text-align: center;
        word-break: keep-all;

        @include tablet {
          font-size: 1.6rem;
        }

        @include mobile {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@keyframes fade_up {
  0% {
    opacity: 0;
    top: 100%;
  }
  100% {
    opacity: 1;
    top: 90%;
  }
}
@keyframes show {
  0% {
  }
}
