@import 'app/styles/base/colors';

.page-portfolio-detail {
  height: 100%;
  padding: 4rem 6rem;
  background-color: #fff;

  > .l-inner {
    display: block;
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 3rem;
    color: $color-primary-dark;

    &::before {
      content: '';
      display: block;
      width: 0.4rem;
      height: 3.6rem;
      background-color: $color-primary-dark;
    }

    > h3 {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }

  .wrap {
    width: 100%;
    display: flex;
    height: calc(100% - 6.6rem);

    .image-area {
      width: 70%;
      height: 100%;
      max-height: calc(100vh - 14.9rem);
      overflow-y: auto;

      .image-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        // padding: 2rem 0;

        > div {
          position: relative;
          width: 100%;
          // padding: 1rem;
          // border: 1px solid #e0e0e0;
          border-radius: 0.8rem;
          overflow: hidden;

          > img {
            // position: absolute;
            // top: 0;
            // left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .desc-area {
      // flex-shrink: 0;
      width: 30%;
      height: 100%;
      padding: 2rem;
      font-size: 1.6rem;
      font-weight: 500;
      color: $color-primary-dark;
    }
  }
}
