.portfolio-section {
  width: 100%;
  padding: 10rem 6rem;
  background-color: #f0eeeb;

  .section-title {
    font-size: 3.2rem;
    font-weight: 700;
    color: #5b1c1d;
    margin-bottom: 4rem;
  }

  .portfolio-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;

    > li {
      // width: calc(100% / 4);
      height: auto;
      max-height: 45rem;

      &.view-all-button {
        display: flex;
        justify-content: center;
        align-items: center;

        .view-all-link {
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
    }
  }
}
