@import 'app/styles/base/_colors.scss';

.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background-color: #f5f5f5;
}

// admin-main
.admin-main {
  flex: 1;
  padding: 3rem;
  background-color: #f5f5f5;
}
