@charset "utf-8";

$color-primary: #5b1c1d;

$color-primary-light: #7e3031;
$color-primary-dark: #3b1112;

$color-secondary: #e9e1d3;
$color-secondary-dark: #e0d9cc;

$color-cream: #f0eeeb;
$color-gray-light: #f5f5f5;

$color-gray-200: #e5e7eb;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;

$color-white: #ffffff;
$color-gray-white: #d4d4d4;

$color-secondary: #9a9a9a;

$color-text-body: #252525;
$color-text-gray: #858585;
