@charset "utf-8";

$color-primary: #5b1c1d;
$color-primary-dark: #3b1112;

$color-secondary: #e9e1d3;
$color-secondary-dark: #e0d9cc;

$color-cream: #f0eeeb;
$color-gray-light: #d1d5db;

$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;

.color-gray-400 {
  color: $color-gray-300;
}
